@font-face {
  font-family: inter-m;
  src: url(fonts/Inter-UI-Medium.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  
}
body {
  background-color: #f0f2f5;
}
.preloader {
  background-image: url("https://raw.githubusercontent.com/laboo25/mag-imgs/main/imgs/toriBlack/mio―03%20mini.jpg");
  background-position: center;
  background-size: cover;
}

.filters {
  width: 100%;
  padding: 10px 40px;
  /* height: 40px; */
  background-color: #ff69b4;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: top 0.3s;
}
.sticky {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: rgb(56, 192, 255)fff; /* Add your desired background color */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
}
.page-item.active {
  background-color: #3498db; /* Change the background color as needed */
  color: #fff; /* Change the text color as needed */
}
.containerwr {
  width: 100%;
  padding: 10px 25px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 20px;
  grid-gap: 30px;
  overflow: hidden;
  
}
.containerwr .cards {
  /* height: 165px; */
  height: auto;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4); 
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  overflow: hidden;
}
.containerwr .cards .bg {
  width: 100%;
  height: 100px;
  /* background: white; */
}
.containerwr .cards .imgs {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-position-y: top !important;
}
.containerwr .cards .imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.containerwr .cards h6 {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  margin: 10px 8px;
}
.containerwr .star {
  background: #ff69b4;
  color: white;
}
.containerwr .star h6 {
  color: white;
}
@media only screen and (max-width: 375px){
  .gallery-head {
      display: none;
  }
  .containerwr {
      width: 100% !important;
      padding: 0 !important;
      margin: 0px 0 !important;
      display: grid !important;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
      grid-column-gap: 10px !important;
      grid-gap: 15px !important;
      padding: 15px !important;

  }
  .containerwr .cards {
      height: 100px !important;
      box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%) !important;
      border-radius: 0px !important;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4) !important; 
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4) !important;
      overflow: hidden;
      
  }
  .containerwr .cards .bg {
      width: 100%;
      height: 80px;
  }
  .containerwr .cards .imgs {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-position-y: top !important;
  }
  .containerwr .cards h6 {
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 10px;
      margin: 5px 10px;
  }
}
@media screen and (max-width: 375px) {
  .preloader {
    background-image: url("https://raw.githubusercontent.com/laboo25/mag-imgs/main/imgs/btv/slayed/score/score—13.webp");
    background-position: center;
    background-size: cover;
  }

  .filters {
    width: 100%;
    padding: 10px 20px;
    background-color: #ff69b4;
    display: flex;
    justify-content: space-between;
  }
  .filters input {
    width: 125px;
  }
  .mainNav {
    display: none !important;
  }
  .containerwr {
    width: 100%;
    /*background: rgb(236, 236, 236);*/
    padding: 0;
    margin: 0px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 10px;
    grid-gap: 15px !important;
    /* grid-column-gap: 0px; */
    grid-gap: 0px;
    padding: 15px;

}
.containerwr .cards {
    max-width: 150px;
    height: 100px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    /* overflow: visible; */
    
}
.containerwr .cards .bg {
    width: 100%;
    height: 80px;
    /* background: white; */
}
.containerwr .cards .imgs {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-position-y: top !important;
}
.containerwr .cards h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    margin: 3px 10px;
}
}