@font-face {
    font-family: inter-r;
    src: url(/src/fonts/Inter-UI-Regular.otf);
  }
  @font-face {
    font-family: inter-m;
    src: url(/src/fonts/Inter-UI-Medium.otf);
  }
  @font-face {
    font-family: inter-b;
    src: url(/src/fonts/Inter-UI-Bold.otf);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
  }
 
  .SideBar a.active {
    color: rgb(255, 255, 255);
    background-color: blue;
    padding: 8px 5px;
    border-radius: 5px;
  }
  
  
  .banner {
    width: 1100px;
    height: auto;
    /* background: rgb(238, 238, 238); */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .image {
    width: 400px;
    height: 100vh;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
  }
  .homeBtn {
    display: none;
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .textBox {
    width: 500px;
    height: 100%;
    padding: 30px 30px;
    padding-left: 80px;
    /* background: rgba(137, 43, 226, 0.473); */
  /*   margin-left: 40px; */
  }
  .textBox h3 {
    color: rgb(255, 0, 8);
    font-size: 30px;
    font-family: inter-b;
    text-transform: capitalize;
    margin-bottom: 10px;
    border-bottom: 2px solid grey;
    display: inline-block;
  
  }
  .textBox p {
    color: rgb(126 126 126);
    font-size: 12px;
    line-height: 30px;
    text-transform: capitalize;
    font-family: inter-m;
  }
  
  .textBox p > span {
    color: black;
    font-family: inter-r;
  }
  .textBox  #age {
    color: hotpink
  }
  .textBox .common {
    color: white;
    border-radius: 8px;
    padding: 3px 5px;
  }
  .textBox .active {
    background: rgb(0, 207, 0);
    padding: 3px 5px;
  }
  .textBox .retired {
    background: orange;
    padding: 3px 5px;
  }
  .textBox .died {
    background: red;
    padding: 3px 5px;
  }
  .mark {
    color: rgb(218, 218, 218) !important;
  }
  /* album */
  .album {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #ee0979, #ff6a00);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 5px;
    grid-row-gap: 20px;
    padding: 30px;
    padding-top: 50px;
  }
  .album .gal {
    width: 200px;
    height: auto;
    /* background-color: blue; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }
  .album .gal .icon {
    width: 200px;
    height: 140px;
  }
  .album .gal #i1 {
    background: url(./images/icon/btv.svg);
    background-size: cover;
    background-position: center;
  }
  .album .gal h3 {
    text-transform: capitalize;
    margin: 5px;
    font-family: inter-b;
  } 
  /* album */
  .imgs-section {
    width: 100%;
    /* height: 180px; */
    /* background-color: darkgreen; */
    transition: all 0.5s linear;
    padding-bottom: 30px;
    /* overflow: hidden; */
    box-sizing: border-box;
    box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.342);
    padding-top: 20px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow: hidden;
  }
  .folders {
    width: 100%;
    height: auto;
    /* background-color: #ee0979; */
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 10px;
    grid-gap: 15px !important;
  }
  .folder {
    height: auto;
    /* background-color: #20ff00; */
    text-transform: uppercase;
  }
  .folder .imgs {
    width: 100%;
    height: 90px;
    /* background-color: #ff6a00; */
  }
  .folder h3 {
    color: black;
    font-family: inter-r;
    text-transform: capitalize;
    font-size: 12px;
  }
  .folder h3 span {
    color: red;
    font-weight: 600;
  }

  .filterItem {
    width: 100%;
    height: auto;
  }
  .filterItem ul {
    display: flex;
    justify-content: center;
    color: white;
  }
  .filterItem ul li {
    list-style: none;
    text-transform: capitalize;
    font-size: 12px;
    font-family: inter-m;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    transition: all 0.5s linear;
    background-color: #ee0979;
  }
  /*   arrow css fancy */
    .is-prev, .is-next {
      padding: 200px 0 !important;
      border-radius: 0 !important;
    }
  .row {
    height: 100%;
    width: 100%;
    background: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 5px;
    grid-row-gap: 20px;
    padding: 30px;
    padding-top: 100px;
  }
  .row .column {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    justify-self: center;
  }
 .row .column a {
    width: inherit;
    height: inherit;
    display: flex;
 }
  
  
                  /* media query */
  @media only screen and (max-width: 375px) {
    body {
      background: white;
    }
    .mainNav {
      display: none !important;
    }
    .SidebarMain {
      width: 100% !important;
      position: absolute !important;
      z-index: 10;
      
    }
    .SideBar {
      width: 100% !important;
      height: 100vh !important;
      /* background: #00000077; */
      transition: linear 0.3s !important;
      position: absolute !important;
      /* background-image: url('assets/bg-side.webp') !important; */
      background-position: center;
      background-size: cover;
    }
    .SideBarChild {
      width: 60%;
    }
    .SideBar a.active {
      color: rgb(255, 255, 255);
      background-color: rgb(170, 0, 0);
      padding: 8px 5px;
      border-radius: 5px;
    }
    .SideBarInner {
      width: 100% !important;
      padding-left: 50px !important;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      
    }
    .banner {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .banner .image {
      position: relative;
    }
    .homeBtn {
      text-decoration: none;
      position: absolute;
      bottom: 5px;
      left: 5px;
      background: #20ff00;
      padding: 5px;
      display: block;
  }
    .textBox {
      width: auto;
      height: auto;
      padding: 30px;
      margin: 0;
    }
    .textBox p {
      font-size: 15px;
      line-height: 30px;
    }
    .image {
      width: 100vw;
      height: 100vh;
    }
    .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  /*   arrow css fancy */
    .is-prev, .is-next {
      padding: 180px 0 !important;
      border-radius: 0 !important;
    }
    .row {
      padding-top: 10px;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
    .row .column {
      width: 140px;
      height: 140px;
      /* background-color: blue; */
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all linear 0.5s;
    }
    .row .column a {
      width: 140px;
      height: 140px;
    }
  }
  